*{
    margin: 0%;
    padding: 0%;
  }
  .fa-facebook {
    color: #1c58d9;
    font-size: 50px;
    margin: 15px;
    
  }
  .fa-square-instagram {
    color: #6e7ad7;
    font-size: 50px;
    margin: 15px;
  }
  image{
    align-items: center;
  }
  body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/023/465/739/small/futuristic-sci-fi-abstract-red-neon-light-shapes-on-black-background-and-reflective-concrete-with-blank-space-for-3d-text-ai-generated-photo.jpg");
    background-repeat:no-repeat;
    background-size: cover;
  }
  h2{
    text-align: center;
    color: #fff;
  }
  h1{
    text-align: center;
    color: white;
  }
  
  .logo{
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
  }
  .instagram{
    width: 50%;
    height: 50%;
    position: absolute;
    background: radial-gradient(circle at 25% 109%,
    #f2e665 0%,
    #f2e665 15%, 
    #f04b4a 45%,
    #d52bb1 60%,
    #5748db 87%);
  border-radius: 20%;                                                                                                                                                                                                                                                                                                                                                                                                                                     
  left:25%;
  top: 25%;
  }
  .outline{
    width: 60%;
    height: 60%;
    position: absolute;
    top:13%;
    left:13.5%;
    border-radius: 20%;
    border: 18px solid #fff;
  }
  .inside{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    position: absolute;
    left:18%;
    top:20%;
    border: 18px solid #fff;
  }
  .circle{
    background-color: #fff;
    width: 7%;
    height: 7%;
    border-radius: 50%;
    position: absolute;
    left: 76%;
    top:7%;
    border: 5px solid #fff;
  }
  footer{
    background-color: grey;
    text-align: center;
    color: white;
  }